@font-face {
    src: url('../../src/assets/AWAKENING.ttf') format('truetype');
    font-family: 'awakening';
}

@font-face {
    src: url('../../src/assets/impacted.ttf') format('truetype');
    font-family: 'impacted';
}

.awakening{
    font-family: 'awakening';
}

.impacted{
    font-family: 'impacted';
}
