@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes bombEffect {
    0% {
      transform: translate(-50%, -50%) scale(0);
    }
    60% {
      transform: translate(-50%, -50%) scale(1.2);
    }
    80% {
      transform: translate(-50%, -50%) scale(0.9);
    }
    100% {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  
  @keyframes textGlow {
    0% {
      text-shadow: 0 0 5px #e63946, 0 0 10px #e63946, 0 0 15px #e63946;
    }
    100% {
      text-shadow: 0 0 10px #ff1e56, 0 0 20px #ff1e56, 0 0 30px #ff1e56;
    }
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }