.header {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0.452);

  h1 {
    font-size: 5rem;
    font-weight: bold;
    color: blue;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
}
