.dice {
  width: 100px;
  height: 100px;
  background-color: rgb(249, 249, 203);
  border: 2px solid rgb(97, 97, 97);
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 3px 3px 5px 6px #ccc;
}

.diceStyle {
  width: 25px;
  height: 25px;
  background-color: rgb(123, 3, 3);
  border-radius: 50%;
  opacity: 0;
  box-shadow: inset 0 0 5px #000000;
}

.dice-1 .face-5,
.dice-2 .face-1,
.dice-2 .face-9,
.dice-3 .face-1,
.dice-3 .face-5,
.dice-3 .face-9,
.dice-4 .face-1,
.dice-4 .face-3,
.dice-4 .face-7,
.dice-4 .face-9,
.dice-5 .face-1,
.dice-5 .face-3,
.dice-5 .face-5,
.dice-5 .face-7,
.dice-5 .face-9,
.dice-6 .face-1,
.dice-6 .face-3,
.dice-6 .face-4,
.dice-6 .face-6,
.dice-6 .face-7,
.dice-6 .face-9 {
  opacity: 1;
}
